# service-console team
*                                                       @veronikaKochugova

CODEOWNERS                                              @veronikaKochugova @romanKobzarev
py/task1_1.py                                           @romanKobzarev
py/task1_2.py                                           @veronikaKochugova
py/task2_1.py                                           @veronikaKochugova @romanKobzarev
